<div>
    <h1>{{title}}</h1>
    <br>
    <h2>Everything About this Project</h2>
    <div class="row">
        <div class="col-md-4">
            <h2 class="introList">Libraries Used</h2>
            <ul class="list-group">
              <li class="list-group-item">Express</li>
              <li class="list-group-item">Express Session</li>
              <li class="list-group-item">Express-validator</li>
              <li class="list-group-item">HBS</li>
              <li class="list-group-item">Moongoose</li>
              <li class="list-group-item">Passport</li>
              <li class="list-group-item">Node Mailer</li>
              <li class="list-group-item">OT (Operational Transform)</li>
              <li class="list-group-item">Socket.io</li>
              <li class="list-group-item">Peerjs</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="introList">Features and Fixes</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Code Editor Working Fine.</li>
                <li class="list-group-item list-group-item-warning">Chat Support (need little fixes).</li>
                <li class="list-group-item list-group-item-warning">Video Support (need to use secure certificates).</li>
                <li class="list-group-item list-group-item-success">Contact Page.</li>
                <li class="list-group-item list-group-item-success">Facebook login.</li>
                <li class="list-group-item list-group-item-success">Email Login.</li>
                <li class="list-group-item list-group-item-danger">In chrome Need to manual load script to support video call feature.</li>
                <li class="list-group-item list-group-item-danger">Firefox stop video support due to unsecure script loading.</li>
                <li class="list-group-item list-group-item-danger">Safari didn't support webRTC yet.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="introList">Important Links</h2>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Github</a></li>
              <li class="list-group-item">Main competitor: <a href="https://codeshare.io/">codeshare</a></li>
              <li class="list-group-item">Project Initiator: <a href="https://www.facebook.com/beupyZeay">Kumar Saurabh</a></li>
              <li class="list-group-item">To contribute drop message here <a href="/contact">Contact Me</a></li>
            </ul>
        </div>
    </div>
</div>