body {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    min-height: 1700px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.CodeMirror {
    height: 600px;
}

#my-video {
    margin-top: 15px;
    width: 280px;
    height: auto;
    background-color: #eee;
}

#second-video {
    width: 100%;
    height: 75%;
    max-height: 480px;
    background-color: #eee;
}

#video-container {
    text-align: center;
}

#step1-error, #step2, #step3 {
    display: none;
}

#my-id {
    font-weight: bold;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: auto!important;
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
  width: 100%;
  background-color: #50B275;
}
.homeElement{
    margin-left: 35px;
}
.footerRow{
    padding-top: 20px;
    padding-bottom: 10px;
}
.introPara{
    margin-left: 15px;
    margin-top: 20px;
}
.introVideo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}